<nav class="navbar navbar-default">
  <div class="container">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header"> <a class="navbar-brand" href="#">Cyxc</a> </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li><a href="/">首页</a></li>
            <li><a href="/xiaocaoserverlist">小草服务器列表</a></li>
            <li><a href="/tuanziserverlist">团子服务器列表</a></li>
            <li><a href="/otherserverlist">合作服务器列表</a></li>
            <li><a href="/modlist">Mod下载</a></li>
            <li><a href="#joinus" onClick="window.open('/joinus','targetWindow','resizable, height=600,width=600'); return false;">加入玩家群</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">文档 <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/docs/rcon">RCON</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="/about">关于小草</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </div>
</nav>
