<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>服务器列表</title>
<link rel="stylesheet" href="/static/css/bootstrap.css">
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-163793624-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-163793624-2');
</script>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container">
    <div class="container-fluid"> 
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header"> <a class="navbar-brand" href="#">Cyxc</a> </div>
      
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="/">首页</a></li>
          <li><a href="/serverlist">小草服务器列表</a></li>
		  <li class="active"><a href="/tuanziserverlist">团子服务器列表</a></li>
          <li><a href="#joinus" onClick="window.open('/joinus','targetWindow','resizable, height=600,width=600'); return false;">加入玩家群</a></li>
          <li><a href="/api">API</a></li>
        </ul>
      </div>
      <!-- /.navbar-collapse --> 
    </div>
    <!-- /.container-fluid --> 
  </div>
</nav>
{% if status == "Error" %}
<div class="col-md-12">
  <div class="panel panel-danger">
    <div class="panel-heading">
      <h3 class="panel-title">Failed</h3>
    </div>
    <div class="panel-body"> {{ error }} </div>
  </div>
</div>
{% endif %}
<div class="container">
  <div class="panel panel-success">
    <div class="panel-heading">
      <h3 class="panel-title">服务器列表</h3>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <colgroup>
		<col class="col-xs-1">
        <col class="col-xs-4">
        <col class="col-xs-4">
        <col class="col-xs-2">
        <col class="col-xs-6">
        </colgroup>
        <thead>
          <tr>
			<th>状态</th>
            <th>名字</th>
            <th>地图</th>
            <th>人数</th>
            <th>点我看详细信息</th>
          </tr>
        </thead>
        {% if status == "Success" or status == "InfoOnly" %}
        <tbody>
          <tr>
			<td>{{	Status1	}}</td>
            <td>{{ info1.server_name }}</td>
            <td>{{ info1.map_name }}</td>
            <td>{{ info1.player_count }}/{{ info1.max_players }}</td>
            <td><a href="/tuanziserverlist/iss1" style="text-decoration:none">1服详情</a></td>
          </tr>
          <tr>
            <td>{{	Status2	}}</td>
			<td>{{ info2.server_name }}</td>
            <td>{{ info2.map_name }}</td>
            <td>{{ info2.player_count }}/{{ info2.max_players }}</td>
            <td><a href="/tuanziserverlist/iss2" style="text-decoration:none">2服详情</a></td>
          </tr>
          <tr>
            <td>{{	Status3	}}</td>
			<td>{{ info3.server_name }}</td>
            <td>{{ info3.map_name }}</td>
            <td>{{ info3.player_count }}/{{ info3.max_players }}</td>
            <td><a href="/tuanziserverlist/iss3" style="text-decoration:none">3服详情</a></td>
          </tr>
          <tr>
            <td>{{	Status4	}}</td>
			<td>{{ info4.server_name }}</td>
            <td>{{ info4.map_name }}</td>
            <td>{{ info4.player_count }}/{{ info4.max_players }}</td>
            <td><a href="/tuanziserverlist/iss4" style="text-decoration:none">4服详情</a></td>
          </tr>
          <tr>
            <td>{{	Status5	}}</td>
			<td>{{ info5.server_name }}</td>
            <td>{{ info5.map_name }}</td>
            <td>{{ info5.player_count }}/{{ info5.max_players }}</td>
            <td><a href="/tuanziserverlist/iss5" style="text-decoration:none">5服详情</a></td>
          </tr>
          <tr>
            <td>{{	Status6	}}</td>
			<td>{{ info6.server_name }}</td>
            <td>{{ info6.map_name }}</td>
            <td>{{ info6.player_count }}/{{ info6.max_players }}</td>
            <td><a href="/tuanziserverlist/iss6" style="text-decoration:none">6服详情</a></td>
          </tr>
          <tr>
            <td>{{	Status7	}}</td>
			<td>{{ info7.server_name }}</td>
            <td>{{ info7.map_name }}</td>
            <td>{{ info7.player_count }}/{{ info7.max_players }}</td>
            <td><a href="/tuanziserverlist/iss7" style="text-decoration:none">7服详情</a></td>
          </tr>
          <tr>
            <td>{{	Status8	}}</td>
			<td>{{ info8.server_name }}</td>
            <td>{{ info8.map_name }}</td>
            <td>{{ info8.player_count }}/{{ info8.max_players }}</td>
            <td><a href="/tuanziserverlist/iss8" style="text-decoration:none">8服详情</a></td>
          </tr>
        </tbody>
        {% endif %}
      </table>
    </div>
  </div>
</div>
<div>
  <footer>
    <p> <span style="color: #b9b9b9;"> Program developed by <a href="https://cyxc.club" target="_blank" style="color: #b9b9b9;">cyxc.</a><a href="http://www.beian.miit.gov.cn" target="_blank" style="color: #b9b9b9;">京ICP备19009481号-4</a> </span> </p>
  </footer>
</div>
</body>
</html>