<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Mod列表</title>
{% include 'include/head.html' %}
</head>
<body>
{% include 'include/nav.html' %}
<div class="container">
  <div class="panel">
    <div class="blog-post">
      <h2 class="blog-post-title">Mod列表</h2>
      <p class="blog-post-meta">2020年5月24日01:33:00<a href="#">陈阳小草</a></p>
      <p>下面提供了几个服务器的Mod列表。</p>
      <hr>
      <h3>咕咕咕</h3>
      <p>咕咕咕。</p>
      <h2>咕咕咕</h2>
      <p>咕咕咕。</p>
      <ul>
        <li>咕咕咕。</li>
        <li>咕咕咕。</li>
      </ul>

  </div>
</div>
{% include 'include/footer.html' %}
</body>
</html>