<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" content="origin">
<title>Mod列表</title>
{% include 'include/head.html' %}
</head>
<body>
{% include 'include/nav.html' %}
<div class="container">
  <div>
    <h2 class="blog-post-title">Mod列表</h2>
    <p>文档更新日期</p>
    <p class="blog-post-meta">2020年5月24日01:33:00</p>
    <p>在这写使用方法，先咕了</p>
    <div>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="panel-title">下面是小草服务器的所有地图</h3>
        </div>
        <div class="panel-body">
          <table class="table table-striped">
            <colgroup>
            <col class="col-xs-1">
            <col class="col-xs-1">
            </colgroup>
            <thead>
              <tr>
                <th>官方链接</th>
                <th>下载链接</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><a href="https://insurgencysandstorm.mod.io/">还没统计先咕了</a></td>
                <td><a href="https://download.cyxc.club/Maps/">下载</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="panel-title">下面是小草服务器的所有Mutator</h3>
        </div>
        <div class="panel-body">
          <table class="table table-striped">
            <colgroup>
            <col class="col-xs-1">
            <col class="col-xs-1">
            </colgroup>
            <thead>
              <tr>
                <th>官方链接</th>
                <th>下载链接</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><a href="https://insurgencysandstorm.mod.io/">还没统计先咕了</a></td>
                <td><a href="https://download.cyxc.club/Mutator/">下载</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="panel-title">下面是奶团服务器的所有地图</h3>
        </div>
        <div class="panel-body">
          <table class="table table-striped">
            <colgroup>
            <col class="col-xs-1">
            <col class="col-xs-1">
            </colgroup>
            <thead>
              <tr>
                <th>官方链接</th>
                <th>下载链接</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><a href="https://insurgencysandstorm.mod.io/toro">TORO</a></td>
                <td><a href="https://download.cyxc.club/Maps/94277.zip">下载</a></td>
              </tr>
              <tr>
                <td><a href="https://insurgencysandstorm.mod.io/compound">compound</a></td>
                <td><a href="https://download.cyxc.club/Maps/95897.zip">下载</a></td>
              </tr>
              <tr>
                <td><a href="https://insurgencysandstorm.mod.io/noshahr-canals">Noshahr Canals</a></td>
                <td><a href="https://download.cyxc.club/Maps/98204.zip">下载</a></td>
              </tr>
              <tr>
                <td><a href="https://insurgencysandstorm.mod.io/cruise">Cruise</a></td>
                <td><a href="https://download.cyxc.club/Maps/100518.zip">下载</a></td>
              </tr>
              <tr>
                <td><a href="https://insurgencysandstorm.mod.io/operation-pipeline">Operation Pipeline</a></td>
                <td><a href="https://download.cyxc.club/Maps/100877.zip">下载</a></td>
              </tr>
              <tr>
                <td><a href="https://insurgencysandstorm.mod.io/junkyard-by-synthean13">JunkYard</a></td>
                <td><a href="https://download.cyxc.club/Maps/115402.zip">下载</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="panel-title">下面是奶团服务器的所有Mutator</h3>
        </div>
        <div class="panel-body">
          <table class="table table-striped">
            <colgroup>
            <col class="col-xs-1">
            <col class="col-xs-1">
            </colgroup>
            <thead>
              <tr>
                <th>官方链接</th>
                <th>下载链接</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><a href="https://insurgencysandstorm.mod.io/coopmutator1">Tactical Bots</a></td>
                <td><a href="https://download.cyxc.club/Mutator/119098.zip">下载</a></td>
              </tr>
              <tr>
                <td><a href="https://insurgencysandstorm.mod.io/coopmutator1">No Restricted Area</a></td>
                <td><a href="https://download.cyxc.club/Mutator/98145.zip">下载</a></td>
              </tr>
              <tr>
                <td><a href="https://insurgencysandstorm.mod.io/coopmutator1">More Fire Support</a></td>
                <td><a href="https://download.cyxc.club/Mutator/101395.zip">下载</a></td>
              </tr>
              <tr>
                <td><a href="https://insurgencysandstorm.mod.io/coopmutator1">More Ammo</a></td>
                <td><a href="https://download.cyxc.club/Mutator/98373.zip">下载</a></td>
              </tr>
              <tr>
                <td><a href="https://insurgencysandstorm.mod.io/coopmutator1">More Fire Support</a></td>
                <td><a href="https://download.cyxc.club/Mutator/101395.zip">下载</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="panel-title">下面是所有的地图</h3>
        </div>
        <div class="panel-body">
          <table class="table table-striped">
            <colgroup>
            <col class="col-xs-2">
            <col class="col-xs-2">
            <col class="col-xs-2">
            </colgroup>
            <thead>
              <tr>
                <th>官方链接</th>
                <th>下载链接</th>
                <th>更新日期</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><a href="https://insurgencysandstorm.mod.io/toro">TORO</a></td>
                <td><a href="https://download.cyxc.club/Maps/94277.zip">下载</a></td>
                <td>2020.5.25</td>
              </tr>
              <tr>
                <td><a href="https://insurgencysandstorm.mod.io/compound">compound</a></td>
                <td><a href="https://download.cyxc.club/Maps/95897.zip">下载</a></td>
                <td>2020.5.25</td>
              </tr>
              <tr>
                <td><a href="https://insurgencysandstorm.mod.io/noshahr-canals">Noshahr Canals</a></td>
                <td><a href="https://download.cyxc.club/Maps/98204.zip">下载</a></td>
                <td>2020.5.25</td>
              </tr>
              <tr>
                <td><a href="https://insurgencysandstorm.mod.io/cruise">Cruise</a></td>
                <td><a href="https://download.cyxc.club/Maps/100518.zip">下载</a></td>
                <td>2020.5.25</td>
              </tr>
              <tr>
                <td><a href="https://insurgencysandstorm.mod.io/operation-pipeline">Operation Pipeline</a></td>
                <td><a href="https://download.cyxc.club/Maps/100877.zip">下载</a></td>
                <td>2020.5.25</td>
              </tr>
              <tr>
                <td><a href="https://insurgencysandstorm.mod.io/junkyard-by-synthean13">JunkYard</a></td>
                <td><a href="https://download.cyxc.club/Maps/115402.zip">下载</a></td>
                <td>2020.5.25</td>
              </tr>
			  <tr>
                <td><a href="https://insurgencysandstorm.mod.io/highlands1">Highlands</a></td>
                <td><a href="https://download.cyxc.club/Maps/100082.zip">下载</a></td>
                <td>2020.5.27</td>
              </tr>
			  <tr>
                <td><a href="https://insurgencysandstorm.mod.io/mountainpass">Mountain Pass</a></td>
                <td><a href="https://download.cyxc.club/Maps/109375.zip">下载</a></td>
                <td>2020.5.27</td>
              </tr>
			  <tr>
                <td><a href="https://insurgencysandstorm.mod.io/operation-metro">Operation Metro</a></td>
                <td><a href="https://download.cyxc.club/Maps/115420.zip">下载</a></td>
                <td>2020.5.27</td>
              </tr>
			  <tr>
                <td><a href="https://insurgencysandstorm.mod.io/michiganmilitiatest">MichiganMilitia</a></td>
                <td><a href="https://download.cyxc.club/Maps/96377.zip">下载</a></td>
                <td>2020.5.27</td>
              </tr>
			  <tr>
                <td><a href="https://insurgencysandstorm.mod.io/snow-mountain">Snow Mountain</a></td>
                <td><a href="https://download.cyxc.club/Maps/98316.zip">下载</a></td>
                <td>2020.5.27</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="panel-title">下面是所有的Mutator</h3>
        </div>
        <div class="panel-body">
          <table class="table table-striped">
            <colgroup>
            <col class="col-xs-2">
            <col class="col-xs-2">
            <col class="col-xs-2">
            </colgroup>
            <thead>
              <tr>
                <th>官方链接</th>
                <th>下载链接</th>
                <th>更新日期</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><a href="https://insurgencysandstorm.mod.io/coopmutator1">More Ammo</a></td>
                <td><a href="https://download.cyxc.club/Mutator/98373.zip">下载</a></td>
                <td>2020.6.22</td>
              </tr>
			  <tr>
                <td><a href="https://insurgencysandstorm.mod.io/no-restricted-areas">No Restricted Areas</a></td>
                <td><a href="https://download.cyxc.club/Mutator/134838.zip">下载</a></td>
                <td>2020.6.22</td>
              </tr>
			  <tr>
                <td><a href="https://insurgencysandstorm.mod.io/coopmutator1">FrenzyNoBotCount [now works]</a></td>
                <td><a href="https://download.cyxc.club/Mutator/95456.zip">下载</a></td>
                <td>2020.6.22</td>
              </tr>
			  <tr>
                <td><a href="https://insurgencysandstorm.mod.io/coopmutator1">Jump Shoot (v1.0.0)</a></td>
                <td><a href="https://download.cyxc.club/Mutator/98685.zip">下载</a></td>
                <td>2020.6.22</td>
              </tr>
			  <tr>
                <td><a href="https://insurgencysandstorm.mod.io/nosmoking">NoSmoking</a></td>
                <td><a href="https://download.cyxc.club/Mutator/131176.zip">下载</a></td>
                <td>2020.6.22</td>
              </tr>
			  <tr>
                <td><a href="https://insurgencysandstorm.mod.io/coopmutator1">CoopMutator</a></td>
                <td><a href="https://download.cyxc.club/Mutator/93591.zip">下载</a></td>
                <td>2020.5.25</td>
              </tr>
              <tr>
                <td><a href="https://insurgencysandstorm.mod.io/coopmutator1">No Restricted Area</a></td>
                <td><a href="https://download.cyxc.club/Mutator/98145.zip">下载</a></td>
                <td>2020.5.25</td>
              </tr>
              <tr>
                <td><a href="https://insurgencysandstorm.mod.io/coopmutator1">More Fire Support</a></td>
                <td><a href="https://download.cyxc.club/Mutator/101395.zip">下载</a></td>
                <td>2020.5.25</td>
              </tr>
              <tr>
                <td><a href="https://insurgencysandstorm.mod.io/coopmutator1">Fire Support</a></td>
                <td><a href="https://download.cyxc.club/Mutator/100859.zip">下载</a></td>
                <td>2020.5.25</td>
              </tr>
              <tr>
                <td><a href="https://insurgencysandstorm.mod.io/coopmutator1">Advanced Supply Points (v1.0.1)</a></td>
                <td><a href="https://download.cyxc.club/Mutator/100175.zip">下载</a></td>
                <td>2020.5.25</td>
              </tr>
              <tr>
                <td><a href="https://insurgencysandstorm.mod.io/coopmutator1">Improved Pistols Only</a></td>
                <td><a href="https://download.cyxc.club/Mutator/99749.zip">下载</a></td>
                <td>2020.5.25</td>
              </tr>
              <tr>
                <td><a href="https://insurgencysandstorm.mod.io/coopmutator1">ULTRA Bullet Sponge</a></td>
                <td><a href="https://download.cyxc.club/Mutator/101454.zip">下载</a></td>
                <td>2020.5.25</td>
              </tr>
              <tr>
                <td><a href="https://insurgencysandstorm.mod.io/coopmutator1">Join Leave Message (v2.0.1)</a></td>
                <td><a href="https://download.cyxc.club/Mutator/101966.zip">下载</a></td>
                <td>2020.5.25</td>
              </tr>
              <tr>
                <td><a href="https://insurgencysandstorm.mod.io/coopmutator1">Hardcore HUD</a></td>
                <td><a href="https://download.cyxc.club/Mutator/102932.zip">下载</a></td>
                <td>2020.5.25</td>
              </tr>
              <tr>
                <td><a href="https://insurgencysandstorm.mod.io/coopmutator1">Thermal Vision</a></td>
                <td><a href="https://download.cyxc.club/Mutator/110010.zip">下载</a></td>
                <td>2020.5.25</td>
              </tr>
              <tr>
                <td><a href="https://insurgencysandstorm.mod.io/coopmutator1">Faster Sprint in Checkpoint Hardcore</a></td>
                <td><a href="https://download.cyxc.club/Mutator/119336.zip">下载</a></td>
                <td>2020.5.25</td>
              </tr>
              <tr>
                <td><a href="https://insurgencysandstorm.mod.io/coopmutator1">Tactical Bots</a></td>
                <td><a href="https://download.cyxc.club/Mutator/119098.zip">下载</a></td>
                <td>2020.5.25</td>
              </tr>
              <tr>
                <td><a href="https://insurgencysandstorm.mod.io/coopmutator1">Unlocked Armory</a></td>
                <td><a href="https://download.cyxc.club/Mutator/117242.zip">下载</a></td>
                <td>2020.5.25</td>
              </tr>
              <tr>
                <td><a href="https://insurgencysandstorm.mod.io/coopmutator1">No Class Limits in Checkpoint Hardcore</a></td>
                <td><a href="https://download.cyxc.club/Mutator/110949.zip">下载</a></td>
                <td>2020.5.25</td>
              </tr>
              <tr>
                <td><a href="https://insurgencysandstorm.mod.io/coopmutator1">NVG</a></td>
                <td><a href="https://download.cyxc.club/Mutator/110716.zip">下载</a></td>
                <td>2020.5.25</td>
              </tr>
              <tr>
                <td><a href="https://insurgencysandstorm.mod.io/coopmutator1">Old Dogs' Classes and Bot Overhaul Mod!</a></td>
                <td><a href="https://download.cyxc.club/Mutator/121062.zip">下载</a></td>
                <td>2020.5.25</td>
              </tr>
              <tr>
                <td><a href="https://insurgencysandstorm.mod.io/coopmutator1">D-Tech Eotech Reticle mod test</a></td>
                <td><a href="https://download.cyxc.club/Mutator/123355.zip">下载</a></td>
                <td>2020.5.25</td>
              </tr>
              <tr>
                <td><a href="https://insurgencysandstorm.mod.io/coopmutator1">BLUFOR/OPFOR/PMC Factions, Theaters, and Bots</a></td>
                <td><a href="https://download.cyxc.club/Mutator/124656.zip">下载</a></td>
                <td>2020.5.25</td>
              </tr>
              <tr>
                <td><a href="https://insurgencysandstorm.mod.io/coopmutator1">Realism</a></td>
                <td><a href="https://download.cyxc.club/Mutator/124960.zip">下载</a></td>
                <td>2020.5.25</td>
              </tr>
              <tr>
                <td><a href="https://insurgencysandstorm.mod.io/coopmutator1">Suicide Bomber</a></td>
                <td><a href="https://download.cyxc.club/Mutator/125754.zip">下载</a></td>
                <td>2020.5.25</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<footer class="blog-footer">
  <p> <span style="color: #b9b9b9;"> Program developed by <a href="https://cyxc.club" target="_blank" style="color: #b9b9b9;">cyxc.</a><br></span><span>由<a href="https://www.aliyun.com/product/oss" target="_blank" style="color: #b9b9b9;">阿里云oss</a>驱动<br></span><span><a href="http://www.beian.miit.gov.cn" target="_blank" style="color: #b9b9b9;">京ICP备19009481号-4</a> </span> </p>
</footer>
</body>
</html>