<!DOCTYPE html>
<html lang="zh-cn">
<head>
{% include 'include/head.html' %}
<title>合作服务器列表</title>
</head><body>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="container"> {% include 'include/navbar.html' %}
        <div class="row">
          <div class="col-md-12">
            <div class="container">
              <div class="card bg-transparent">
                <h5 class="card-header alert-success">服务器列表</h5>
                <div class="card-body bg-transparent">
                  <table class="table table-bordered table-hover table-sm bg-transparent">
                    <colgroup>
                    <col class="col-xs-1">
                    <col class="col-xs-6">
                    <col class="col-xs-3">
                    <col class="col-xs-2">
                    <col class="col-xs-1">
                    </colgroup>
                    <thead>
                      <tr>
                        <th>名字</th>
                        <th>地图</th>
                        <th>人数</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><a href="/otherserverlist/xiaolu" style="text-decoration:none">{{ info0.server_name }}</a></td>
                        <td>{{ info0.map_name }}</td>
                        <td>{{ info0.player_count }}/{{ info0.max_players }}</td>
                        <td><button class="btn btn-info btn-sm" data-clipboard-text="134.175.62.172:{{ info0.port }}">复制ip</button></td>
                      </tr>
                    {% for info in infos %}
                      <tr>
                        <td><a href="/otherserverlist/{{ info.port }}" style="text-decoration:none">{{ info.server_name }}</a></td>
                        <td>{{ info.map_name }}</td>
                        <td>{{ info.player_count }}/{{ info.max_players }}</td>
                        <td><button class="btn btn-info btn-sm" data-clipboard-text="119.188.247.66:{{ info.port }}">复制ip</button></td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% include 'include/footer.html' %}
{% include 'include/bootstarp-script.html' %}
</body>
</html>