<!DOCTYPE html>
<html lang="zh-cn">
<head>
{% include 'include/head.html' %}
<title>RCON - 文档</title>
<body>
{% include 'include/nav.html' %}
<div class="container">
  <div class="panel">
    <div class="blog-post">
      <h2 class="blog-post-title">设置和使用RCON</h2>
      <p class="blog-post-meta">2020年5月16日03:31:46<a href="#">陈阳小草</a></p>
      <p>这里简单记录了iss服务器如何设置开启RCON和windows客户端的使用方法。</p>
      <hr>
      <h3>服务器设置rcon</h3>
      <pre><code><p>[Rcon]</p><p>bEnabled=True</p><p>Password=这里填密码</p><p>ListenPort=这里填端口</p></code></pre>
      <table class="table">
        <thead>
          <tr></tr>
        </thead>
      </table>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>可选</th>
            <th>参数</th>
            <th>描述</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><p><code>bUseBroadcastAddress</code></p></td>
            <td><p>True</p></td>
            <td><p>If enabled, then the rcon socket will listen on all available network devices.</p></td>
          </tr>
          <tr>
            <td><p><code>ListenAddressOverride</code></p></td>
            <td><p>0.0.0.0</p></td>
            <td><p>如果bUseBroadcastAddress设置为False, this is the network IP the rcon socket is bound to.</p></td>
          </tr>
          <tr>
            <td><p><code>bAllowConsoleCommands</code></p></td>
            <td><p>True</p></td>
            <td><p>设置为True时，任何未知的命令都将被解释为控制台命令。</p></td>
          </tr>
          <tr>
            <td><p><code>MaxPasswordAttempts</code></p></td>
            <td><p>3</p></td>
            <td><p>最大密码尝试次数</p></td>
          </tr>
          <tr>
            <td><p><code>IncorrectPasswordBanTime</code></p></td>
            <td><p>30</p></td>
            <td><p>如果达到最大尝试次数，则禁止连接到rcon的时间（单位是分钟）</p></td>
          </tr>
        </tbody>
        <h3>Commands</h3>
        <table class="table">
          <thead>
            <tr></tr>
          </thead>
        </table>
        <table class="table table-bordered">
          <tbody>
            <tr>
              <th> <p><code>help</code></p>
              </th>
              <td></td>
              <td><p>Displays a list of commands.</p></td>
            </tr>
            <tr>
              <th> <p><code>listplayers</code></p>
              </th>
              <td></td>
              <td><p>Lists players currently connected to the server.</p></td>
            </tr>
            <tr>
              <th> <p><code>kick</code></p>
              </th>
              <td><p>&lt;id/netid/name&gt; [reason]</p></td>
              <td><p>Kicks a player from the server.</p></td>
            </tr>
            <tr>
              <th> <p><code>ban</code></p>
              </th>
              <td><p>&lt;id/netid/name&gt; [duration in minutes] [reason]</p></td>
              <td><p>Bans a player from the server.</p></td>
            </tr>
            <tr>
              <th><code>banid</code></th>
              <td>[duration in minutes] [reason]</td>
              <td>Bans a player (by net ID) from the server. Does not require the player to be on the server.</td>
            </tr>
            <tr>
              <th> <p><code>permban</code></p>
              </th>
              <td><p>&lt;id/netid/name&gt; [reason]</p></td>
              <td><p>Permanently bans a player from the server.</p></td>
            </tr>
            <tr>
              <th> <p><code>unban</code></p>
              </th>
              <td><p><br>
                </p></td>
              <td><p>Lifts a ban for a user.</p></td>
            </tr>
            <tr>
              <th> <p><code>listbans</code></p>
              </th>
              <td></td>
              <td><p>Shows the ban list for the server.</p></td>
            </tr>
            <tr>
              <th> <p><code>say</code></p>
              </th>
              <td><p><br>
                </p></td>
              <td><p>Shows a message to all players in the chat box.</p></td>
            </tr>
            <tr>
              <th> <p><code>restartround</code></p>
              </th>
              <td><p>[0 = no team switch, 1 = swap teams]</p></td>
              <td><p>Restarts the current round.</p></td>
            </tr>
            <tr>
              <th> <p><code>maps</code></p>
              </th>
              <td><p>[level filter]</p></td>
              <td><p>Lists available maps.</p></td>
            </tr>
            <tr>
              <th> <p><code>scenarios</code></p>
              </th>
              <td><p>[level filter]</p></td>
              <td><p>Lists available scenarios.</p></td>
            </tr>
            <tr>
              <th> <p><code>travelscenario</code></p>
              </th>
              <td><p><br>
                </p></td>
              <td><p>Change level to given scenario.</p></td>
            </tr>
            <tr>
              <th> <p><code>travel</code></p>
              </th>
              <td><p><br>
                </p></td>
              <td><p>Transitions the server to a different level.</p></td>
            </tr>
            <tr>
              <th> <p><code>gamemodeproperty</code></p>
              </th>
              <td><p>[new value]</p></td>
              <td><p>Gets or sets a gamemode property for the length of the scenario.</p></td>
            </tr>
            <tr>
              <th><code>listgamemodeproperties</code></th>
              <td>[property filter]</td>
              <td>Lists all properties available for the currently loaded gamemode.</td>
            </tr>
          </tbody>
        </table>
      </table>
      <p>默认情况下，所有未知命令都将作为控制台命令执行。</p>
      <h2>Windows客户端</h2>
      <p>这里介绍一款windows可用的客户端。<a href="http://www.beian.miit.gov.cn" target="_blank" style="color: #b90000;">下载地址</a></p>
      <ul>
        <li>这是给需要自己操作服务器的人使用的，英语不好的参考上面翻译过的内容，大体上是可以理解到意思的。</li>
        <li>租了小草服务器的人可以找小草来问服务器的ip、端口、密码。</li>
      </ul>
      <img src="/static/image/rcon/1.png" /> <img src="/static/image/rcon/2.png" /> <img src="/static/image/rcon/3.png" /> <img src="/static/image/rcon/4.png" /> </div>
    <!-- /.blog-post --> 
  </div>
</div>
{% include 'include/footer.html' %}
</body>
</html>